body{
    display: grid;
    place-content: center;
}
.timeBox{
    width: 250px;
    border: 1px solid gray;
    border-radius: 10px;
    display: grid;
    place-content: center;
    box-shadow: -5px 5px 10px;
    padding: 5px 10px;
}
.time{
    text-align: center;
    font-size: 30px;
}
h1{
    text-decoration: underline;
}